* {
    font-family: raleway;
}

body {
    background-color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    z-index: 1;
}

/* Barra de navegacion */
nav {
    color: red;
}

/* Quienes somos */
.quienes-somos {
    /* height: 440px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-info {
    display: flex;
    gap: 20px;
}

.info i {
    width: 100%;
    text-align: center;
}

h4 {
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.quienes-somos p {
    font-weight: 200;
    color: #ffffff;
}

/* Destacados */
.destacados {
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-card {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.card-img-top {
    height: 150px;
}

/* Contacto */

.contacto {
    font-weight: 100;
    color: #ffffff;
}



/* Footer */
footer {
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}